<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voies" (click)="pathsPage()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngIf="notes != ''">
      <ion-card-content>{{ notes }}</ion-card-content>
    </ion-card>
    <ion-card *ngFor="let ability of (abilities | async)">
      <ion-card-header>
        <ion-card-title>{{ ability.rang }}. {{ ability.nom }}</ion-card-title>
        <ion-card-subtitle>
          {{ ability.limitee == 1 ? "Action (L)imitée" : "" }}
          {{ ability.limitee == 1 && ability.sort == 1 ? ", " : ""}}
          {{ ability.sort == 1 ? "Sort" : "" }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{ ability.description }}</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>