<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Accueil" (click)="homePage()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-button color="dark" size="small" fill="clear" slot="end" (click)="showConfig()">
      <ion-icon slot="icon-only" name="cog"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Profils</ion-label>
      </ion-item-divider>
      <ion-item button="true" *ngFor="let profile of (profiles | async)">
        <ion-label (click)="showProfilePaths(profile)">{{ profile.nom }}
        </ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Autres voies</ion-label>
      </ion-item-divider>
      <ion-item button="true">
        <ion-label (click)="showOtherPaths(1)">Raciales</ion-label>
      </ion-item>
      <ion-item button="true">
        <ion-label (click)="showOtherPaths(2)">Prestige</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>