<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Accueil" (click)="homePage()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-button color="dark" size="small" fill="clear" slot="end" (click)="showConfig()">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="medium">
        <ion-label>Profils</ion-label>
      </ion-item-divider>
      <ion-item button="true" *ngFor="let profile of (profiles | async)">
        <ion-label detail="true" (click)="showProfilePaths(profile)">
          {{ profile.nom }}
          <p size="small">({{ profile.description }})</p>
        </ion-label>
      </ion-item>
    </ion-item-group>
    <div *ngIf="hybrids | async;let hybridList">
      <ion-item-group *ngIf="hybridList.length > 0">
        <ion-item-divider color="medium">
          <ion-label>Hybrides</ion-label>
        </ion-item-divider>
        <ion-item button="true" *ngFor="let hybrid of hybridList">
          <ion-label detail="true" (click)="showProfilePaths(hybrid)">
            {{ hybrid.nom }}
            <p size="small">({{ hybrid.description }})</p>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </div>
    <div *ngIf="pathTypes | async;let pathTypeList">
      <ion-item-group *ngIf="pathTypeList.length > 0">
        <ion-item-divider color="medium">
          <ion-label>Autres voies</ion-label>
        </ion-item-divider>
        <ion-item button="true" *ngFor="let pathType of pathTypeList">
          <ion-label detail="true" (click)="showOtherPaths(pathType)">{{ pathType.type_voie_intitule }}
          </ion-label>
        </ion-item>
      </ion-item-group>
    </div>
    <div *ngIf="datasetService.selected.showAbilities; let showAbilities">
      <ion-item-group *ngIf="showAbilities.length > 0">
        <ion-item-divider color="medium">
          <ion-label>Autres capacités</ion-label>
        </ion-item-divider>
        <ion-item button="true" *ngFor="let showAbility of showAbilities">
          <ion-label detail="true" (click)="showOtherAbilities(showAbility)">{{ showAbility.label }}
          </ion-label>
        </ion-item>
      </ion-item-group>
    </div>
    <ion-item-divider color="medium">
      <ion-label>Equipement</ion-label>
    </ion-item-divider>
    <ion-item button="true" *ngFor="let category of (categories | async)">
      <ion-label detail="true" (click)="showSubCategories(category)">
        {{ category.libelle }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>