<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Accueil" (click)="homePage()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-button color="dark" size="small" fill="clear" slot="end" (click)="showConfig()">
      <ion-icon slot="icon-only" name="cog"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button="true" *ngFor="let profile of (profiles | async)">
      <ion-label (click)="showPaths(profile)">{{ profile.nom }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>